
.nav-footer {
  text-align: right;
  padding: 0 20px;
  flex: 1.5;
}

.nav-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  font-weight: 300;
  color: #000000;
  background-color: #e3e3e3;
  text-align: center;
  transition: all 0.2s;

  &:hover:enabled {
    background-color: #f5f5f5;
    cursor: pointer
  }
}

.assessment-nav-footer {
  display: inline-flex;
  padding: 0 20px;
  flex: 1.5;
}

.nav-back {
  text-align: left;
  flex: 1;
}

.nav-forward {
  text-align: right;
  flex: 1;
}

.progress-counter {
  text-align: center;
  flex: 1;
}